@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


:root {
  --primary-color: #c3c7ca;
  --secondary-color: #602320;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  background-image: url('https://wallpapercave.com/wp/wp2115248.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  overflow: hidden;
}

/* Add a darker overlay */
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

body * {
  z-index: 1;
}

.draggable-list {
  padding: 0;
  list-style-type: none;
}

.draggable-list li {
  background-color: rgba(96, 35, 32, 0.7);
  border-radius: 12px;
  margin: 7px;
  width: 100%;
  /* border-bottom: 2.5px solid var(--primary-color); */
  display: flex;
  flex: 1;
}

.draggable-list .number {
  background-color: var(--primary-color);
  border-radius: 10px 0 0 10px;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  height: 60px;
  width: 60px;
}

.draggable-list li.over .draggable {
  background-color: rgba(176, 84, 0, 0.7);
  border-radius: 0 10px 10px 0;
}

.draggable-list .wonder-name {
  margin: 0 20px 0 0;
}

.draggable-list li.right .wonder-name {
  color: #3ae374;
}

.draggable-list li.wrong .wonder-name {
  color: #ff3838;
}

.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
}

.check-btn {
  background-color: var(--primary-color);
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.check-btn:active {
  transform: scale(0.98);
}

.check-btn:focus {
  outline: none;
}